.new-collections {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 100px auto;
    padding: 0 10px;
}

.new-collections h1 {
    color: #171717;
    font-size: clamp(1.5rem, 4vw, 3.125rem);
    font-weight: 600;
    text-align: center;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
    border: none;
}

.new-collections .collections {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
}

.new-collections-items img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
}