.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-logo p {
    color: #383838;
    font-size: clamp(1.5rem, 5vw, 2.875rem);
    font-weight: 700;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    color: #252525;
    justify-content: center;
    padding: 0;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-icons-container {
    padding: 10px 12px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #1a1a1a;
    font-size: clamp(0.9rem, 2vw, 1.25rem);
    margin-top: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background-color: #c7c7c7;
}